
#jpreOverlay {
	background-color: #fff;
	
}
#jpreSlide{
	font-size:22px;
	font-weight:bold;
	color:#251812;
	text-align:center;
	width:50%;
	height:30%;
}
/*#jpreLoader{ 
background:url(../images/loader@2x.png) 0 100% no-repeat;
background-size:400px 200px;
width:200px;
height:200px;
}
#jpreBar{
	background:url(../images/loader@2x.png) -200px 100% no-repeat;
	background-size:400px 200px;	
	width:200px;
	height:200px;
	}*/
#jpreLoader{
	width:100%;
	height:3px;	
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
}
#jpreBar {
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;	
	background-size:5px 5px;
	-moz-background-size:5px 5px;
	-webkit-background-size:5px 5px;
	-o-background-size:5px 5px;
	
	
   filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#33ffffff',
      endColorstr='#33000000',
      GradientType=0 );
	background-color:#ff6900;		
	animation: progress 2s linear infinite;
	-moz-animation: progress 2s linear infinite;
	-webkit-animation: progress 2s linear infinite;
	-ms-animation: progress 2s linear infinite;
	-o-animation: progress 2s linear infinite;	
}
#jprePercentage {
	color:#134a92;
	font-family:Arial,Helvetica,sans-serif;
	font-weight:bold;
	text-align:center;
	display:none;	
	top:-22px;
}

@-webkit-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@-moz-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@-ms-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@-o-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@keyframes progress {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -60px -60px;
    }
}