@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('fonts/MyriadPro-Regular.eot?') format('eot'),
    /*url('fonts/MyriadPro-Regular.otf')  format('opentype'),*/
    url('fonts/MyriadPro-Regular.woff') format('woff'),
    /*url('fonts/MyriadPro-Regular.ttf')  format('truetype'),*/
    url('fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('fonts/Montserrat-Light.eot?') format('eot'), url('fonts/Montserrat-Light.woff') format('woff'),
    /*url('fonts/Montserrat-Light.ttf')  format('truetype'),*/
    url('fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
}

body {
    font-family: 'MyriadPro-Regular';
    outline: 0;
    margin: 0;
    background-color: /*#ECECEC*/ #ffa31a;
}
/*.car{
    width:129px!important;
    height:120px!important;
}*/

 #MobHome {display:none;
    }
a {
    outline: 0 !important;
}
.sidebar{
    background-color: #ffffffe8!important;
}
.martop{
margin-top: -6em!important;
}
.news{
    margin-top: 80px!important;
    margin-left: 13em!important;
}
.news1{
    margin-top: -40px!important;
    margin-left: 40em!important;
   
}
.news2{
    margin-top: -1em!important;
    margin-left: 70em!important;
}
.news3{
    margin-top: -3em!important;
    margin-left: 90em!important;
}
@media only screen and (max-width:1921px)and (min-width:1601px) {

}
.boldTxt {
    font-size: 21px; /*color:#494949;*/
}

.Menu {
    padding-left: 5px;
    margin-top: 18px;
}

    .Menu li {
        font-family: 'MyriadPro-Regular';
        color: white;
        font-size: 12px;
        padding: 15px;
        width: /*100px*/ 150px;
        text-align: center;
    }

        .Menu li img {
            padding-bottom: 5px;
        }

        .Menu li a {
            color: black;
            text-decoration: none;
        }
#MobPpl {display:none;
}
p, td, th {
    font-family: 'MyriadPro-Regular';
    font-size: 18px;
    color: /*#7F7F7F*/#556184;
    font-weight: 100;
}

h1 {
    color: /*#23568D*/ white;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

.container {
    width: 100%;
    position: relative;
    z-index: 2;
    margin-bottom: 2%;
}

.row {
    width: 80%;
    float: right;
    padding: 5% 40% 0 0;
}

.CaseStudyrow {
    width: 80%;
    float: right;
    padding: 5% 30% 0 0;
}

hr {
    width: 28%;
    float: left;
    margin-top: 0;
}

.socialicons {
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 10%;
}

#abtMenu {
    margin-top: 6%;
}

    #abtMenu a {
        color: /*#22558C*/ white;
        text-decoration: none;
        font-size: 22px;
        font-family: 'Montserrat', sans-serif;
        float: left;
        padding-right: 0%;
        margin-right: 1%;
        text-align: center;
        font-weight: 700;
        cursor: pointer;
    }

    #abtMenu div {
        padding: 5px 16px;
        font-family: 'MyriadPro-Regular';
    }

.teamDiv {
    display: none!important;
    bottom: 0;
    position: fixed;
    float: right;
    background-image: url('../heliosImg/abtbg.png');
    height: 889px;
    display: block;
    width: 657px;
    right: 4px;
    z-index: 1;
    background-repeat: no-repeat;
}
.newsDiv {
     bottom: 0;
    position: fixed;
    float: right;
    background-image: url('../heliosImg/Newsbg.png');
        height: 442px;
    display: block;
    width: 380px;
    right: 4px;
    z-index: 1;
    background-repeat: no-repeat;
}
.caseStudyDiv {
    bottom: 0;
    position: fixed;
    float: right;
    background-image: url('../heliosImg/Case-Studybg.png'); /*url('../heliosImg/casestudytudybg.png');*/
    height: /*628px;*/278px;
    display: block;
    width: /*795px;*/400px;
    right: 4px;
    z-index: 1;
    background-repeat: no-repeat;
}
.serviceDiv {
     bottom: 0;
    position: fixed;
    float: right;
    background-image: url('../iages/MobHomebg.jpg');
    height: /*628px;*/500px;
    display: block;
    width: /*795px;*/384px;
    right: 4px;
    z-index: 1;
    background-repeat: no-repeat;
}
.clientspeakDiv{
    bottom: 0px;
    position: fixed;
    float: right;
    background-image: url('../heliosImg/Client-Speakbg.png');
           height: 259px;
    display: block;
    width: 360px;
    right: 0px;
    z-index: 1;
    background-repeat: no-repeat;
}
.careerDiv {
    bottom: 0px;
    position: fixed;
    float: right;
    background-image: url('../heliosImg/Careerbg.png');
        height: 350px;
    display: block;
    width: 349px;
    right: 0px;
    z-index: 1;
    background-repeat: no-repeat;
}
.conctDiv {
    bottom: 0px;
    position: fixed;
    float: right;
    background-image: url('../heliosImg/contactbg.png');
    height: 688px;
    display: block;
    width: 600px;
    right: 0px;
    z-index: 1;
    background-repeat: no-repeat;
}

.content {
    float: left;
    padding: 5% 0;
    width: 655px;
}

.CaseStudycontent {
    float: left;
    padding: 1% 0;     width: 100%;
}

.CaseStudyrow hr {
    width: 22%;
}

.anchrview {
    text-decoration: none;
    color: black;
    letter-spacing: 4px;
    padding: 6% 12%;
    background: #FFB400;
    border-radius: 6px;
    font-size: 16px;
}

.col-lg-4 {
    width: 25%;
    float: left;
    text-align: center;
}

    .col-lg-4 img {
        margin-bottom: 14%;
    }

.arrow_box {
    position: relative;
    background: #ffd2cf;
    color: black !important;
    /*border: 4px solid #c2e1f5;*/
}

    .arrow_box:after, .arrow_box:before {
        top: 100%;
        left: 0;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .arrow_box:after {
        border-color: rgba(136, 183, 213, 0);
        border-top-color: /*#88b7d5;*/ #ffd2cf;
        border-width: 8px;
        margin-left: 18px;
    }

    .arrow_box:before {
        /*border-color: rgba(194, 225, 245, 0);*/
        /*border-top-color: #c2e1f5;*/
        border-width: 36px;
        margin-left: -36px;
    }

/*.bxslider2 li {width:100%;
}*/
.bxslider2Img {
    float: left;
    padding: 0 4% 0 0;
}

.ClientName {
    font-size: 32px;
    font-weight: 700;
    color: #4A4A4A;
    font-family: 'Montserrat', sans-serif;
    margin-left: 4%;
}

.divImg hr {
    margin-left: 4%;
}

.clientPost {
    font-size: 16px;
    font-weight: 100;
    color: #4A4A4A;
}

.divImg {
    background-color: /*#D6D6D6*/ #ffa100;
    padding: 2% 0% 3% 0%;
    margin: 1% 2% 1% 1%;
    border-radius: 12px;
}

    .divImg hr {
        border-top: 1px solid #000;
    }

.divImg2 {
    padding: 3%;
    margin: 0.5% 1%;
    padding-left: 0;
}

.clientSpeakTxt {
    color: #4A4A4A;
    font-size: 18px;
    font-weight: 100;
    margin: 4%;
    text-align: justify;
}

#serviceMenu {
    color: /*#23568D*/ white;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    float: right;
    padding-right: 0%;
    margin-right: 2%;
    text-align: left;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    width: 235px;
    padding-top: 2%;
}

    #serviceMenu div {
        border-bottom: 1px solid;
        width: 237px;
        padding: 3% 1%;
    }

.Servicerow {
    width: 80%;
    float: right;
    padding: 5% 20% 0 0;
}

    .Servicerow a {
        color: /*#23568D*/ white;
        text-decoration: none;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        float: left;
        padding-right: 0%;
        margin-right: 1%;
        text-align: left;
        font-weight: 400;
        cursor: pointer;
    }

.serviceHeading {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.serviceContent {
    float: left;
    padding: 0 0;
    width: 700px;
}

.caseStudyAnchr {
    color: white;
    font-size: 22px;
    text-decoration: underline;
    display: table;
}

input, textarea, select, label {
    color: #EC4E04;
    width: 500px;
    margin: 12px 6px;
    padding: 2%;
    height: 48px;
    border: 0;
    letter-spacing: 1px;
    font-size: 16px;
    outline: 0;
    background-color: #FFB400;
    border-radius: 6px;
}

.btnsubmit {
    width: 200px;
    background-color: #0F2B50;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
}

textarea {
    height: 120px;
}

.contactForm {
    background-color: /*#ECECEC*/ #fffbfb;
    border-radius: 10px;
    box-shadow: 1px 2px 5px 4px /*#E0DCDC*/ #5a4336;
    text-align: center;
    padding: 4%;
    height: 500px;
    margin-bottom: 15%;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #ECECEC;
    height: 54px;
    z-index: 2;
}

.footerLine {
    background-color: #D44407;
    height: 6px;
    box-shadow: 6px 0px 3px #BF3E07;
}

.footer .left {
    float: left;
    padding: 1%;
}

.footer .right {
    float: right;
    padding: 1%;
}

.team span {
    padding: 8px 7px;
    position: relative;
    top: -64px;
    left: 29px;
    display: inline-block;
    background: #fff;
    border-radius: 0 16px 16px 0;
    font-size: 16px;
    color: #f7564a;
}

.team h4 {
    margin-top: -20px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

    .team h4 span {
        display: block;
        position: relative;
        left: 0px;
        top: 0px;
        font-size: 20px;
        background: none;
        padding: 0;
        color: #fff;
    }

.team img {
    width: 100%;
    max-width: 240px;
    border-radius: 50%;
    border: 15px solid transparent;
    box-shadow: 2px 2px 0px rgba(0,0,0, 0.18);
    transition: all 0.1s ease-in;
}

    .team img:hover {
        border: 15px solid #fff /*#3980C9*/;
        position: relative;
        z-index: 10;
        transition: all 0.1s ease-in;
    }


.col-md-4 {
    padding: 0;
    width: 31.333333%;
    margin: 3% 1%;     margin-bottom: 5%;
}

/*.team .col-md-4:hover div.text-content {
    opacity: 0.8;
    border-radius: 50%;
}*/

.team .pplDiv:hover div.text-content {
    opacity: 0.8;
    border-radius: 50%;
}

div.text-content {
    background: rgba(0,0,0,1);
    color: white;
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    /*-webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;*/
    text-align: center;
}

    div.text-content h2 {
        font-size: 25px;
        margin-top: 90px;
    }

    div.text-content p {
        font-size: 15px;
        margin-top: 4%;
        margin-bottom: 0%;
        width: 100%;
        text-align: center;
        padding: 45% 10% 0 10%;
            display: block !important;
    }

.text-content2h2 {
    font-size: 25px;
}

    .text-content2 {    position: absolute;
    font-size: 16px;
        margin-top: 4%;
    margin-bottom: 0%;
    width: 100%;
    text-align: center;
    }

.pplDiv {

}

.foodImg {position: absolute;
    width: 464px;
    float: right;
    right: 18%;
    top: 38%;
}
.foodImg img {
        width: 150px;
    height: 110px;
    margin: 0.5%;
}

/*.careerTooltip img {
    left: 2px;
    top: 2px;
    position: relative;
}

.peopleTooltip img {
    left: 2px;
    top: 2px;
    position: relative;
}

.clientspeakTooltip img {
    left: 2px;
    top: 2px;
    position: relative;
}

.servicesTooltip img {
    left: 2px;
    top: 2px;
    position: relative;
}

.newsTooltip img {
    left: 2px;
    top: 2px;
    position: relative;
}

.casestudyTooltip img {
    left: 2px;
    top: 2px;
    position: relative;
}

.facebookTooltip img {
    left: 2px;
    top: 2px;
    position: relative;
}*/

#menuMob, #navigator{display:none;
}
@media only screen and (min-width:1922px){
     .jscarousal-vertical {
        width: /*140px;*/ 193px;
        height: /*460px;*/ 310px;
        /* background-color: #121212; */
        /* border: solid 1px #7A7677; */
        margin: 0;
        padding: 0;
        position: relative;
        overflow: hidden;
        left: 1835px !important;
        top: 460px !important;
    }
  #vertical-ticker, #vertical-ticker2 {
           height: 246px;
            width: 152px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
            list-style: none;
            position: absolute;
            top: 528px!important;
            left: 190px;
            z-index: 100;
            margin-right:5em;
        }
        #vertical-ticker-two, #vertical-ticker-two2 {
           height: 145px!important;
            width: 112px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
            list-style: none;
            position: absolute;
            top: 595px!important;
            left: 546px;
            z-index: 100;
            margin-right:5em!important;
        }
        #vertical-ticker-three, #vertical-ticker-three3 {
           height: 261px;
            width: 223px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
            list-style: none;
            position: absolute;
            top: 589px!important;
            left: 763px;
            z-index: 100;
            margin-right:5em!important;
        }
        #vertical-ticker-four, #vertical-ticker-four4 {
           height: 150px;
            width: 109px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
            list-style: none;
            position: absolute;
            top: 592px!important;
            left: 1206px;
            z-index: 100;
            margin-right:5em!important;
        }
        #vertical-ticker-five, #vertical-ticker-five5 {
           height: 321px!important;
            width: 217px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
            list-style: none;
            position: absolute;
            top: 476px!important;
            left: 1430px;
            z-index: 100;
            margin-right:5em!important;
        }

}

@media only screen and (max-width:1921px)and (min-width:1601px) {
    #makeMeScrollable {
        height: /*930px*/ 100vh;
    }
    .jscarousal-vertical {
        width: /*140px;*/ 193px;
        height: 460px; 
            left: 1835px !important;
    top: 160px !important;
    }
    .smoothScrollImg {
        top: -112px;
    }
    #vertical-ticker, #vertical-ticker2 {
           height: 246px;
            width: 152px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
            list-style: none;
            position: absolute;
            top: 418px!important;
            left: 190px;
            z-index: 100;
            margin-right:5em;
        }
        #vertical-ticker-two, #vertical-ticker-two2 {
           height: 145px!important;
            width: 112px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
            list-style: none;
            position: absolute;
            top: 483px!important;
            left: 546px;
            z-index: 100;
            margin-right:5em!important;
        }
        #vertical-ticker-three, #vertical-ticker-three3 {
           height: 261px;
            width: 223px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
            list-style: none;
            position: absolute;
            top: 478px!important;
            left: 763px;
            z-index: 100;
            margin-right:5em!important;
        }
        #vertical-ticker-four, #vertical-ticker-four4 {
           height: 150px;
            width: 109px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
            list-style: none;
            position: absolute;
            top: 476px!important;
            left: 1206px;
            z-index: 100;
            margin-right:5em!important;
        }
        #vertical-ticker-five, #vertical-ticker-five5 {
           height: 321px!important;
            width: 217px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
            list-style: none;
            position: absolute;
            top: 362px!important;
            left: 1430px;
            z-index: 100;
            margin-right:5em!important;
        }
    #newsControls, #newsControls2 {
        z-index: 220;
        position: absolute;
        left: 520px !important;
        top: 565px !important;
    }

    .jscarousal-vertical {
        width: /*140px;*/ 193px;
        height: /*460px;*/ 310px;
        /* background-color: #121212; */
        /* border: solid 1px #7A7677; */
        margin: 0;
        padding: 0;
        position: relative;
        overflow: hidden;
        left: 1835px !important;
        top: 350px !important;
    }

    .sidebar {
        height: /*979px*/ 100%;
        width: 165px;
    }

    .logo {
        margin-left: /*20px*/ 14px;
        margin-top: 42px;
    }

    .careerTooltip {
         left: 200px;
    top: 564px;
    }
    .careerTxtImg {
        position: relative;
        left: 35px;
        top: -29px;
    }

    .partnersTooltip {
        left: 30px;
        top: 582px;
    }

    .peopleTxtImg {
        position: relative;
       left: -26px;
    top: -62px;
    }

    .feedbackTooltip {
        left: 260px;
        top: 453px;
    }

    .eventTooltip {
        left: 315px;
        top: 220px;
    }

    .peopleTooltip {
            left: 684px;
    top: 474px;
    }

    .clientspeakTooltip {
             left: 596px;
    top: 732px;
    }
    .clientspeakTxtImg {
        position: relative;
        left: 35px;
        top: -29px;
    }

    .galleryTooltip {
        left: 842px;
        top: 670px;
    }

    .servicesTooltip {
              left: 1038px;
    top: 574px;
    }
    .servicesTxtImg {position: relative;
        left: -28px;
    top: 5px;
    }
    .newsTooltip {
     left: 1646px;
    top: 424px;
    }
    .newsTxtImg { position: relative;
        left: 35px;
        top: -29px;
    }
    .casestudyTooltip {
            left: 1640px;
    top: 690px;
    }
    .casestudyTxtImg {position: relative;
        left: 35px;
        top: -29px;
    }
    .facebookTooltip {
           left: 1790px;
    top: 604px;
    }
    .facebookTxtImg {position: relative;
        left: 35px;
        top: -29px;
    }
}

@media only screen and (max-width:1600px)and (min-width:1371px) {
    #makeMeScrollable {
        height: /*700px*/ 100vh;
    }
    #vertical-ticker, #vertical-ticker2 {
           height: 246px;
            width: 152px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
            list-style: none;
            position: absolute;
            top: 296px!important;
            left: 192px;
            z-index: 100;
            margin-right:5em;
        }
        #vertical-ticker-two, #vertical-ticker-two2 {
           height: 145px!important;
            width: 112px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
            list-style: none;
            position: absolute;
            top: 362px!important;
            left: 546px;
            z-index: 100;
            margin-right:5em!important;
        }
         #vertical-ticker-three, #vertical-ticker-three3 {
           height: 261px!important;
            width: 223px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
            list-style: none;
            position: absolute;
            top: 360px!important;
            left: 763px;
            z-index: 100;
            margin-right:5em!important;
        }
        #vertical-ticker-four, #vertical-ticker-four4 {
           height: 150px;
            width: 109px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
            list-style: none;
            position: absolute;
            top: 358px!important;
            left: 1206px;
            z-index: 100;
            margin-right:5em!important;
        }
        #vertical-ticker-five, #vertical-ticker-five5 {
           height: 321px!important;
            width: 217px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
            list-style: none;
            position: absolute;
            top: 240px!important;
            left: 1430px;
            z-index: 100;
            margin-right:5em!important;
        }

    .smoothScrollImg {
        top: -232px !important;
    }

    #newsControls, #newsControls2 {
        left: 522px !important;
        top: 442px !important;
    }

    .jscarousal-vertical {
        width: /*140px;*/ 193px;
        height: 460px; 
            left: 1835px !important;
    top: 235px !important;
    }

    .sidebar {
        height: 100vh;
    }

    .logo {
        margin-left: 20px;
        margin-top: 18px;
    }
    .Menu 
    {
    padding-left: 5px;
    margin-top: 25px;
    }
    .Menu li img {
        padding-bottom: 3px;
        width: 22px;
        height: 20px;
    }

    .careerTooltip {
       left: 204px;
    top: 442px;
    }
    .careerTxtImg {
        position: relative;
        left: 35px;
        top: -29px;
    }
    .partnersTooltip {
        left: 30px;
        top: 335px;
    }

    .feedbackTooltip {
        left: 262px;
        top: 203px;
    }

    .eventTooltip {
        left: 315px;
        top: -40px;
    }

    .peopleTooltip {
           left: 688px;
    top: 352px;
    }
     .peopleTxtImg {
        position: relative;
       left: -26px;    top: -62px;
    }
    .clientspeakTooltip {
       left: 596px;
    top: 616px;
    }
      .clientspeakTxtImg {
        position: relative;
        left: 35px;
        top: -29px;
    }
    .galleryTooltip {
        left: 842px;
        top: 416px;
    }

    .servicesTooltip {
                 left: 1038px;
    top: 452px;
    }
  .servicesTxtImg {position: relative;
        left: -28px;    top: 5px;
    }
    .newsTooltip {
        left: 1656px;
        top: 310px;
    }
.newsTxtImg { position: relative;
        left: 35px;
        top: -29px;
    }
    .casestudyTooltip {
        left: 1639px;
        top: 572px;
    }
  .casestudyTxtImg {position: relative;
        left: 35px;
        top: -29px;
    }
    .facebookTooltip {
                 left: 1790px;
    top: 486px;
    }
   .facebookTxtImg {position: relative;
        left: 35px;
        top: -29px;
    }
              .foodImg {
    position: absolute;
    width: 464px;
    float: right;
    right: 1%;
    top: 32%;
}
              .teamDiv {
                display: none!important;
    height: 679px;
    width: 490px;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0px;
}
              .caseStudyDiv {
    height: 610px;
    width: 475px;
    bottom: 0;
    background-size: cover;
}
              .conctDiv {
    height: 580px;
    width: 450px;
    background-size: cover;
}
              #abtMenu div {
    padding: 5px 10px;
}
    .clientSpeakTxt {margin-top:5%;
    }
}

@media only screen and (max-width:1370px)and (min-width:1301px) {
    #makeMeScrollable {
        height: /*667px*/ 100vh;
    }
    .smoothScrollImg {
        top: -295px;
    }
    .lie{
        "width: 300px!important; 
        height: 280px!important; 
        marker-right: -1em!important;
    }
.lie2{
    width: 230px!important; 
        height: 295px!important; 
       margin-left: -1em!important;
   }
   .lie0{
    width: 100px!important;
    height: 150px!important;
   }
    .Menu {
        padding-left: 25px;
        margin-top: -10px;
    }
        .Menu li {    padding-top: 4px;
        }
    .socialicons {padding: 2%;
    }

    #newsControls, #newsControls2 {
        left: 232px !important;
        top: 430px !important;
    }


    .jscarousal-vertical {
        width: /*140px;*/ 250px;
        height: /*460px;*/ 400px;
        left: /*1358px !important*/ 1835px !important;
        top: 140px !important;
    }

    .sidebar {
        height: /*768px*/ 100%;
    }

    .logo {
        margin-bottom: 25px;
        margin-left: 40px;
        margin-top: 10px;
    }

    .Menu li img {
        padding-bottom: 3px;
        width: 22px;
        height: 20px;
    }

    .careerTooltip {
          left: 112px;
    top: 380px;
    }
      .careerTxtImg {
        position: relative;
        left: 35px;
        top: -29px;
    }
    .partnersTooltip {
        left: 30px;
        top: 396px;
    }

    .feedbackTooltip {
        left: 262px;
        top: 268px;
    }

    .eventTooltip {
        left: 315px;
        top: 28px;
    }

    .peopleTooltip {
             left: 690px;
    top: 292px;
    }
 .peopleTxtImg {
        position: relative;
       left: -26px;    top: -62px;
    }
    .clientspeakTooltip {
             left: 450px;
    top: 495px;
    }
.clientspeakTxtImg {
        position: relative;
        left: 35px;
        top: -29px;
    }
    .galleryTooltip {
        left: 842px;
        top: 487px;
    }

    .servicesTooltip {
         left: 1038px;
    top: 390px;
    }
 .servicesTxtImg {position: relative;
        left: -28px;    top: 5px;
    }
    .newsTooltip {
              left: 1358px;
    top: 250px;
    }
 .newsTxtImg { position: relative;
        left: 35px;
        top: -29px;
    }
    .casestudyTooltip {
            left: 1340px;
    top: 505px;
    }
  .casestudyTxtImg {position: relative;
        left: 35px;
        top: -29px;
    }
    .facebookTooltip {
              left: 1790px;
    top: 422px;
    }
   .facebookTxtImg {position: relative;
        left: 35px;
        top: -29px;
    }

    .row {
        width: 99%;
        float: left;
        padding: 2% 40% 0 16%;
    }

    #abtMenu a {
        font-size: 18px;
    }

    #abtMenu div {
        padding: 5px 12px;
    }

    .content {
        float: left;
        padding: 5% 0;
        width: 1000px;
    }

    .CaseStudyrow .content {
        padding: 1% 0;
    }

    .teamDiv {
        display: none!important;
        height: 650px;
        width: 560px;
        background-size: cover;
        background-repeat: no-repeat;
        bottom: 0;
    }

    .caseStudyDiv {
        /*height: 390px;
    width: 407px;*/
        /*height: 560px;
        width: 530px;
        bottom: 0;
        background-size: cover;*/
    }

    .CaseStudyrow {
        width: 100%;
        float: left;
        padding: 2% 22% 0 15%;
        margin-bottom: 9%;
    }

    .Servicerow {
        width: 95%;
        float: left;
        padding: 2% 0% 0 15%;
    }

    .conctDiv {
        height: 680px;
        width: 509px;
    }

    .divImg {
        padding: 2% 0% 3% 0%;
        margin: 1%;
        width: 635px;
    }

    .clientSpeakTxt {
        font-size: 17px;
        margin: 5%;
    }

    .CaseStudycontent {
        float: none;
        padding: 3% 0;
        width: 650px;
    }

    .col-lg-4 img {
        width: 100%;
    }

    #serviceMenu {
        margin-right: 9%;
    }

    .serviceHeading, h3 {
        font-size: 20px;
        color: #fff!important;
    }
        .foodImg {
    position: absolute;
    width: 464px;
    float: right;
    right: 4%;
    top: 23%;
}
        div.text-content h2 {
    font-size: 23px;
    margin-top: 85px;
}

}

@media only screen and (max-width:1300px)and (min-width:1140px) {
    #makeMeScrollable {
        height: /*600px*/ 100vh;
    }

    .smoothScrollImg {
        top: -355px !important;
    }
    .log{
        height: 174px!important; 
        margin-left: -3em!important;
        width: 212px!important;
    }

    /*#vertical-ticker, #vertical-ticker2 {
        top: 240px !important;
        left: 220px !important;
    }*/
    #vertical-ticker, #vertical-ticker2 {
           height: 247px!important;
            width: 152px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
            list-style: none;
            position: absolute;
            top: 173px!important;
            left: 150px;
            z-index: 100;
            margin-right:5em!important;
        }
         #vertical-ticker-two, #vertical-ticker-two2 {
           height: 145px!important;
            width: 112px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
            list-style: none;
            position: absolute;
            top: 242px!important;
            left: 546px;
            z-index: 100;
            margin-right:5em!important;
        }
         #vertical-ticker-three, #vertical-ticker-three3 {
           height: 261px!important;
            width: 223px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
            list-style: none;
            position: absolute;
            top: 240px!important;
            left: 763px;
            z-index: 100;
            margin-right:5em!important;
        }
        #vertical-ticker-four, #vertical-ticker-four4 {
           height: 150px!important;
            width: 109px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
            list-style: none;
            position: absolute;
            top: 236px!important;
            left: 1206px;
            z-index: 100;
            margin-right:5em!important;
        }
        #vertical-ticker-five, #vertical-ticker-five5 {
           height: 321px!important;
            width: 217px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
            list-style: none;
            position: absolute;
            top: 119px!important;
            left: 1430px;
            z-index: 100;
            margin-right:5em!important;
        }
        /*.car{
    width:129px!important;
    height:103px!important;

}*/


    #newsControls, #newsControls2 {
        left: 232px !important;
        top: 370px !important;
    }

    .jscarousal-vertical {
        width: /*140px;*/ 193px;
        height: /*460px;*/ 310px;
        left: /*1358px !important*/ 1835px !important;
        top: 75px !important;
    }

    .sidebar {
        height: /*600px*/ 100%;
        width: 140px;
    }

    .logo {
        margin-bottom: 25px;
        margin-left: 40px;
        margin-top: 0px;
    }

        .logo img {
            width: 130px;
        }

    .Menu {
        padding-left: 33px;
        margin-top: 0px;
    }

        .Menu li img {
            padding-bottom: 3px;
            width: 22px;
            height: 20px;
        }

        .Menu li {
            font-size: 12px;
            padding: 12px;
            padding-top: 1px;
            width: 125px;
        }
         .socialicons {padding: 2%;
    }
    .careerTooltip {
            left: 160px;
    top: 360px;
    }
      .careerTxtImg {
        position: relative;
        left: 35px;
        top: -29px;
    }
    .partnersTooltip {
        left: 30px;
        top: 340px;
    }

    .feedbackTooltip {
        left: 262px;
        top: 210px;
    }

    .eventTooltip {
        left: 315px;
        top: -40px;
    }

    .peopleTooltip {
          left: 690px;
    top: 230px;
    }
          .peopleTxtImg {
        position: relative;
       left: -26px;    top: -62px;
    }
    .clientspeakTooltip {
        left: 596px;
    top: 490px;
    }
       .clientspeakTxtImg {
        position: relative;
        left: 35px;
        top: -29px;
    }
    .galleryTooltip {
        left: 842px;
        top: 429px;
    }

    .servicesTooltip {
           left: 1036px;
    top: 332px;
    }
       .servicesTxtImg {position: relative;
        left: -28px;    top: 5px;
    }
    .newsTooltip {
            left: 1360px;
    top: 190px;
    }
     .newsTxtImg { position: relative;
        left: 35px;
        top: -29px;
    }
    .casestudyTooltip {
            left: 1345px;
    top: 448px;
    }
   .casestudyTxtImg {position: relative;
        left: 35px;
        top: -29px;
    }
    .facebookTooltip {
           left: 1792px;
    top: 362px;
    }
  .facebookTxtImg {position: relative;
        left: 35px;
        top: -29px;
    }

    p {
        font-size: 17px;
    }

    .row {
        width: 80%;
        margin-left: 4em;
        float: left;
        padding: 2% 10% 0 15%;
    }

    .teamDiv {
        display: none!important;
        height: 574px;
        width: /*490px*/ 415px;
        background-size: cover;
        background-repeat: no-repeat;
        bottom: 0px;
    }

    #abtMenu a {
        font-size: 18px;
    }

    #abtMenu div {
        padding: 5px 10px;
    }

    .content {
        float: left;
        padding: 5% 0;
        width: /*532px*/600px;
    }

    .CaseStudyrow .content {
        padding: 3% 0;
    }

    .caseStudyDiv {
        /*height: 302px;
    width: 346px;*/
        /*height: 450px;
        width: 475px;
        bottom: 0;
        background-size: cover;*/
    }

    .CaseStudyrow {
        width: 100%;
        float: left;
        margin-left: 50px;
        padding: 2% 22% 0 14%;
    }

    .Servicerow {
        width: 95%;
        float: left;
        padding: 2% 0% 0 14%;
    }

    .serviceHeading, h3 {
        font-size: 20px;
    }

    .conctDiv {
        height: 480px;
        width: 420px;
        background-size: cover;
    }

    input, textarea, select, label {
        width: 470px;
    }

    .divImg {
        padding: 2% 0% 3% 0%;
        margin: 1%;
        width: 590px;
    }

    .clientSpeakTxt {
        font-size: 15px;
        margin: 6%;
    }

    .CaseStudycontent {
        float: none;
        padding: 3% 0;
        width: 650px;
        margin-bottom: 10%;
    }

    .col-lg-4 img {
        width: 100%;
    }

    .serviceContent {
        float: left;
        padding: 2% 0;
        width: 580px;
    }

    #serviceMenu {
        margin-right: 9%;
    }

    .divImg2 {
        padding: 3%;
        margin: 1%;
        padding-left: 0;
        margin-right: 4%;
    }

    .col-md-4 {
        width: 40.333333%;
        margin: 3% 2%; margin-bottom: 8%;
    }
   .foodImg {
    position: absolute;
    width: 464px;
    float: right;
    right: 2%;
    top: 27%;
}
}

@media (-webkit-min-device-pixel-ratio: 1.3), (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    /* Retina-specific stuff here */
    #makeMeScrollable {
        height: /*712px*/ 100vh;
    }

    .smoothScrollImg {
        top: -295px;
    }
}
@media (max-width: 700px) and (min-width: 320px){
.contactForm {
    background-color: /*#ECECEC*/ #fffbfb;
    border-radius: 10px;
    box-shadow: 1px 2px 5px 4px /*#E0DCDC*/ #5a4336;
    text-align: center;
    padding: 4%;
    height: 800px;
    margin-bottom: 15%;
}}

@media (max-width: 1140px) and (min-width: 320px){
    #MobHome {display:block;
    }
    
    .sidebar, #makeMeScrollable {display:none;
    }
    .Moblogo {
    width: 100px;
    left: 5%;
    position: relative;
    top: 0px;
}
    .MobMenuIcon {    width: 43px;
    margin-top: 14px;
    }
    #menuMob {
    display: block !important;
    height: 78px; background-color: #fff; border-bottom: 1px solid #FFB400;
    }
    .menucssMob {
    position: relative;
    right: 10px;
    z-index: 10;
    cursor: pointer;
    float: right;
}
    #navigator {
    width: 100%;
    height: 190px;
    position: absolute;
    top: 78px;
    left: 0px !important;
    background: #FBC02D;
    opacity: 1;
    float: none;
    z-index: 10;
    display: none;
    /* display: block !important; */
}
#nav {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 0px;
    padding-left: 0px;
    text-align: center;
}
#nav li {
    border-bottom: 1px solid #FCB217; padding: 12px;
    list-style-type: none;
}
#nav li a {
    color: #fff;
    text-decoration: none;
}

    .cssReadMore {    background-color: /*#DC4609*/ #387C8A;

    color: white;
    padding: 15px 20px;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    }

    .homenews { background-color:white; width: 80%;
    margin: 0 auto;     margin-top: 4%;
    }
    .homenewsDate {color:white; background-color:#DC4609;    width: 175px; padding: 2px 5px;
    }

    h1 {font-size: 32px;
    }
    .content {
    float: left;
    padding: 5% 4%;
    width: 100%;
}
    .row {
    width: 100%;
   float: left;
    padding: 5% 0 0 7%;
}
    #abtMenu {
    margin-top: 8%;
}
    #abtMenu a {
        font-size:18px;
    }
    p, td, th {
        font-family: 'MyriadPro-Regular';
        font-size: 18px;
    }
    .container {padding:0;
    }
    #MobPpl {display:block;
}
    .teamDiv, .caseStudyDiv, .conctDiv, .newsDiv, .serviceDiv, .clientspeakDiv, .careerDiv {background:none;display: none!important;
    }
    .col-md-4 {
    padding: 0;
    width: 56.333333%;
    margin: 0 auto;
}
    .CaseStudyrow {
    width: 100%;
    float: right;
    padding: 5% 2% 0 3%;
}
    .foodImg {
    position: relative;
    width: 100%;
    float: none;
    right: 0;
    top: 0;
    margin: 0 auto;
    text-align: center;
}
    .ClientName {
        font-size: 28px;
        line-height: 30px;
    }
    .clientPost {
        font-size: 13px;
    }
    .clientSpeakTxt {
        font-size: 16px;
        margin: 8% 4%;
    }

}


@media (max-width: 1140px) and (min-width: 1001px) {
   .col-md-4 {
    padding: 0;
    width: 26.333333%;
    margin: 0 auto;
    margin-left: 20px;
    margin-right: 20px;    margin-bottom: 5%;     margin-top: 2%;
}
    .foodImg {
        width: 464px;
    }
            #MobHome {
    display: block;
    width: 60%;
    margin: 0 auto;
    background: white !important;
}
    #bxslider2Home {    width: 70%;
    margin: 0 auto;
    }
    .content {
    float: left;
    padding: 2% 4%;
    width: 100%;
}
    #abtMenu {
    margin-top: 4%;
    margin-left: 2%;
}
    div.text-content h2 {
    font-size: 25px;
    margin-top: 95px;
}
#vertical-ticker, #vertical-ticker2 {
           height: 247px!important;
            width: 152px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
            list-style: none;
            position: absolute;
            top: 173px!important;
            left: 150px;
            z-index: 100;
            margin-right:5em!important;
        }
         #vertical-ticker-two, #vertical-ticker-two2 {
           height: 145px!important;
            width: 112px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
            list-style: none;
            position: absolute;
            top: 242px!important;
            left: 546px;
            z-index: 100;
            margin-right:5em!important;
        }
         #vertical-ticker-three, #vertical-ticker-three3 {
           height: 261px!important;
            width: 223px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
            list-style: none;
            position: absolute;
            top: 240px!important;
            left: 763px;
            z-index: 100;
            margin-right:5em!important;
        }
        #vertical-ticker-four, #vertical-ticker-four4 {
           height: 150px!important;
            width: 109px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
            list-style: none;
            position: absolute;
            top: 236px!important;
            left: 1206px;
            z-index: 100;
            margin-right:5em!important;
        }
        #vertical-ticker-five, #vertical-ticker-five5 {
           height: 321px!important;
            width: 217px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
            list-style: none;
            position: absolute;
            top: 129px!important;
            left: 1430px;
            z-index: 100;
            margin-right:5em!important;
        }
        .jscarousal-vertical {
        width: /*140px;*/ 193px;
        height: /*460px;*/ 310px;
        left: /*1358px !important*/ 1835px !important;
        top: 15px !important;
    }

}
@media (max-width: 1000px) and (min-width: 900px) {

 .jscarousal-vertical {
        width: /*140px;*/ 193px;
        height: /*460px;*/ 310px;
        left: /*1358px !important*/ 1835px !important;
        top: 15px !important;
    }
}
@media (max-width: 1000px) and (min-width: 700px) {

    .col-md-4 {
        padding: 0;
        width: 47.333333%;
        float: left;
        margin-bottom: 6%;
        margin-right: 10px;
            margin-top: 2%;
    }

    .foodImg {
        width: 464px;
    }

    #MobHome {
        display: block;
        width: 60%;
        margin: 0 auto;
        background: white !important;
    }
    div.text-content h2 {
    font-size: 25px;
    margin-top: 82px;
}
}

@media (max-width: 699px) and (min-width: 421px) {.col-md-4 {width:200px; margin-bottom: 20px;    float: left;
    margin-right: 20px;
    }
     input, textarea, select, label {width:95%;
    }
       #MobHome {
        display: block;
        width: 100%;
        margin: 0 auto;
        background: white !important;
    }
}

@media (max-width: 600px) {
    .col-md-4 {margin-bottom:14%;
    }
}

@media (max-width: 420px) {
    #jSplash div {margin-left:9% !important;
    }
    #abtMenu {
        margin-top: 11%;
    }
    .martop{
margin-top: 0em!important;
}
    #abtMenu a {
    font-size: 16px;
}
    #abtMenu div {
    padding: 5px 10px;
    font-family: 'MyriadPro-Regular';
}
    .foodImg img {
    width: 137px;
    height: 105px;
    margin: 0.5%;
}
    .ClientName {
    font-size: 20px;
    line-height: 25px;
}
    .clientSpeakTxt {
    font-size: 16px;
    margin: 11% 4%;
}
    .divImg2 {text-align:center; padding-left:3%;
    }
    .bxslider2Img {float:none;
    }
    .ClientTxt {text-align:justify;
    }
    p, td, th {
    font-family: 'MyriadPro-Regular';
    font-size: 16px;
}
    h1 {
    font-size: 25px;
}
    .serviceHeading, h3 {
    font-size: 20px;
}
    .col-md-4 {width:200px; margin-bottom: 23%;
    }

    #data td {width:100%; float:left;
    }
        #data td:nth-child(3) {padding-bottom:20px;
        }
    #data th {display:none;
    }
    input, textarea, select, label {width:95%;
    }
    .applyBtn {
    padding: 6%;
    font-size: 14px;
}
            .plans_floor_img{
            display: block;
    }
        .playicon{margin:5px 0 !important;}

}

div#preload { display: none; }
.applyBtn {    background: #FFB400;
    color: black !important;     padding: 6%;
}


/* keyframes for animation;  simple 0 to 360 */
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
.spinAnim{
animation-name: spin; animation-duration: 4s; /* 40 seconds */
animation-iteration-count: infinite; animation-timing-function: linear; animation-delay:0;
}

/* basic structure for the rays setup */
#raysDemoHolder	{ 
	position: relative; 
	width: 490px; 
	height: 490px; 
	margin: 100px 0 0 200px; 
}
#raysLogo { 
	width: 300px; 
	height: 233px; 
	text-indent: -3000px; 
	background: url(logo.png) 0 0 no-repeat; 
	display: block; 
	position: absolute; 
	top: 0; 
	left: 0; 
	z-index: 2; 
}
#rays	{ /* with animation properties */
	background: url(https://davidwalsh.name/wp-content/themes/2k11/images/rays-main.png) 0 0 no-repeat; 
	position: absolute; 
	top: -100px; 
	left: -100px; 
	width: 490px; 
	height: 490px; 
	
	/* microsoft ie */
	animation-name: spin; 
	animation-duration: 40000ms; /* 40 seconds */
	animation-iteration-count: infinite; 
	animation-timing-function: linear;
}

#rays:hover {
	/* animation-duration: 10000ms; 10 seconds - speed it up on hover! */
	/* resets the position though!  sucks */
}